<div>
    <div class="container">
        <div class="profileCard rounded">
            <div class="row">
                <div class="col">
                    <img class="rounded-circle" alt="avatar2" src="{{user.avatar}}"/>
                </div>
                <div class="col">
                    <div class="leftCol"> 
                        <div>
                            <h2 class="profileHeading">
                                <strong>{{user.firstName}} {{user.lastName}}</strong>
                            </h2>
                            <p class="profileDescription">
                                email: {{user.email}}
                                <br>
                                rol: {{user.role}}
                            </p>
                        </div>
                    </div>
                    <!--<div class="leftCol">
                        <h2><strong>{{user.firstName}}</strong></h2>
                        <p>email: {{user.email}}</p>
                        <p>rol: {{user.role}}</p>
                    </div>-->
                </div>
            </div>
        </div>

    {{#if events}}
    <h5 class="profile">Historial de actividades</h5>
    
    <ul>
        {{#each events}}
        <li>
            <div>
                <p>{{this.event}}</p>
                <p>{{this.description}}</p>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <h3 class="notactivity">You haven't done any activity on the platform</h3>
    {{/if}}
</div>
</div>

<link rel="stylesheet" href="/css/profile.css">